Repository ibmruntimes/temurin-build, pull requests merged in 2022-05, with the labels that each got.

#16 Only extract and repack windows zips
  sign.sh
Labels: installer, windows

#18 Fix for Adopt API release version query
  build-farm/make-adopt-build-farm.sh
  sbin/common/common.sh
Labels: jenkins

#19 Bump to VS2017 for jdk8 Windows compiles
  build-farm/platform-specific-configurations/windows.sh
Labels: windows, openj9
